:root {
    --main-color: #FB9B9C;
    --rdg-border-color: #000;
    --logo_blue: #61dcfe;
    --spot-violet: #6900ff;
    --bitcoin-color: #F68B1F;
}

.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
}

.rank {
    margin: .5 0;
}

.rank-btn {
    border: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #6900ff;
    border-radius: 8px;
    padding: .2rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pricing-parameters {
    display: grid;
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #d3d3d3;
}

.about h3 {
    margin: 1rem 0;
    text-decoration: underline;
}

.pricer-input-field input {
    background: wheat;
    border-radius: 5px;
    width: 85px;
    margin-right: 10px;
    margin-top: 5px;
}

.button_price {
    width: 110px;
    background-color: var(--bitcoin-color);
    margin-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    color: black;
    text-decoration: underline;
    font-size: 1em;
    font-weight: bold;
}

.reset_params {
    background-color: #9a031e;
    margin-bottom: 4px;
    margin-right: 8px;
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}

.MuiFormHelperText-root {
    color: white !important;
}

/****************************/
/*   REACT DATA GRID STYLE  */
/****************************/
.rdg-header-row {
    background-color: var(--main-color);
}

.rdg-cell {
    border-inline-end: 1px solid var(--rdg-border-color);
    border-block-end: 1px solid #000;
    padding-inline-start: 8px;
}

.underlined {
    text-decoration: underline;
}

.calls_label {
    border: 1px solid #3a86ff;
    background-color: #3a86ff;
    border-radius: 8px;
    padding: .2rem;
}

.puts_label {
    border: 1px solid #9a031e;
    background-color: #9a031e;
    border-radius: 8px;
    padding: .2rem;
}

.spot_label {
    border: 1px solid var(--spot-violet);
    background-color: var(--spot-violet);
    border-radius: 8px;
    padding: .2rem;
    font-weight: bold;
}

.spot_value {
    white-space: nowrap;
}

.coin-symbol {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0.5rem .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td, th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }
}









