:root {
    --main-color: #FB9B9C;
    --bitcoin-color: #F68B1F;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 0rem 0rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin-name {
    text-decoration: underline;
}

.coin-cell {
    padding: .5rem 0.5rem;
    white-space: nowrap;
}

.coin-cell-price {
    padding: 0rem 0rem;
    white-space: nowrap;
    min-width: 80px;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 0rem 0rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 25px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    min-width: 100px;
    display: flex;
    align-items: center;
    width: 75px;
    padding-right: 0.5rem;
}

.button_view_options {
    background-color: var(--bitcoin-color);
    padding: 4px;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    max-width: 80px;
}

.placeholder {
    width: 75px;
}

@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }

    .heading {
        padding-left: 30px;
    }
}
