
.version_tag {
    text-align: center;
    color: lightgrey;
    margin-top: 25px;
    margin-bottom: 25px;
}

.coingecko_ref {
    text-align: center;
    font-style: normal;
    color: lightgrey;
    margin-top: 25px;
    margin-bottom: 25px;
}
