:root {
    --main-color: #FB9B9C;
    --bitcoin-color: #F68B1F;
    --logo_blue: #61dcfe;
    --border_radius: 6px;
}

.container {
    /*max-width: 1140px;*/
    /*margin: auto;*/
    max-width: 1140px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 0rem 0rem;
    padding: .7rem 1rem;
    font-weight: 700;
    margin-top: 20px;
}

.coin-container .content {
    max-width: 1140px;
    margin: 1rem auto;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
}

.coin-name {
    text-decoration: underline;
    font-weight: bold;
    word-break: break-all;
}

.coin-header-cell {
    padding: .5rem 0.5rem;
    white-space: nowrap;
    width: 80px;
    text-align: center;
    margin-left: 1rem;
}

.coin-cell-change-24h {
    padding: .5rem 0.5rem;
    white-space: nowrap;
}

.coin-cell-price {
    padding: 0rem 0rem;
    white-space: nowrap;
    min-width: 80px;
    width: 80px;
    text-align: end;
}

.coin-cell-volume-24h {
    padding: 0rem 0rem;
    white-space: nowrap;
    min-width: 90px;
    width: 90px;
    text-align: end;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 0rem 0rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 25px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    min-width: 75px;
    display: flex;
    align-items: center;
    width: 125px;
    padding-right: 0.5rem;
}

.button_view_options {
    background-color: var(--bitcoin-color);
    padding: 8px;
    margin: 8px;
    max-width: 100px;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.button_view_chart {
    background-color: var(--logo_blue);
    padding: 8px;
    margin: 8px;
    max-width: 100px;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.placeholder {
    width: 80px;
}

.data-not-available {
    text-align: center;
    color: red;
    padding: 32px;
}

.data_not_available_buttons {
    display: inline-flex;
    padding: 1rem;
}


/*.header {*/
/*    width: 75%;*/
/*}*/

.header_title {
    text-align: center;
    margin-bottom: 2rem;
}

.header_text {
    text-align: center;
    /*margin: 0 3rem 2rem 3rem;*/
}

.email_input {
    background: white;
    width: 350px;
    height: 50px;
    font-size: x-large;
    padding: 0.5rem;
    border: 1px solid var(--logo_blue);
    border-right-width: 0;
    border-radius: var(--border_radius) 0 0 var(--border_radius);
}

.email_validation_button {
    width: 150px;
    background-color: var(--logo_blue);
    border-radius: 0 var(--border_radius) var(--border_radius) 0;
    color: black;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

.email_validation_form {
    display: flex;
    flex-flow: row nowrap;
    max-width: 500px;
    margin: auto;
}

.newsletter_subscription_success {
    color: var(--logo_blue);
}

.newsletter_subscription_error {
    color: var(--main-color);
}

.details_info .coin-heading {
    display: flex;
    align-items: center;
    margin: 0 0;
}

.details_info .coin-price {
    display: flex;
    align-items: center;
}

.details_info .coin-price h1 {
    margin: 0;
}

.details_info .centered-in-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details_info p {
    padding-right: 1rem;
}

.newsletter_form {
    border:1px solid #EEE;
    background:white;
}

@media screen and (max-width: 700px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%; /* full window width */
        text-align: center;
    }

    .content {
        max-width: 95%;
        margin: .5rem;
        padding: 0.5rem .5rem;
    }

    .container {
        max-width: 95%;
        margin: .5rem;
        padding: 0.5rem .5rem;
    }

    /*.header {*/
    /*    max-width: 95%;*/
    /*    margin: .5rem;*/
    /*    padding: 0.5rem .5rem;*/
    /*}*/

    .hide-mobile {
        display: none;
    }

    .heading {
        padding-left: 0px;
    }

    .placeholder {
        width: 120px;
    }
}
