:root {
    --main-color: #FB9B9C;
    --logo_blue: #61dcfe;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: var(--main-color);
}

.purple {
    color: var(--main-color);
}

.options {
    color: var(--logo_blue);
}

h1 {
    margin: 1rem;
}

.beta_label {
    width: 50px;
    font-size: 14px;
    border: 1px solid #6900ff;
    background-color: #6900ff;
    border-radius: 8px;
    padding: .2rem;
}

@media screen and (max-width: 700px) {
    h1 {
        margin: 0.5rem;
    }
}
