:root {
    --main-color: #FB9B9C;
    --logo_blue: #61dcfe;
    --beta-color: #ff6900;
    --main-width: 1140px;
}

.navbar-parent {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
}

.navbar-header {
    float: right;
    width: var(--main-width);
    margin-top: 0.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: var(--main-width);
    width: var(--main-width);
    margin: auto;
}

.drawer-menu-button {
    color: white;
    margin-top: 0.5rem;
}

.drawer-menu-item {
    color: black;
}

.logo_section {
    display: flex;
}

.app-logo {
    height: 35px;
    margin-right: 0px;
    width: auto;
    margin-top: 1.5rem;
}

.app-logo-in-drawer {
    height: 25px;
    width: auto;
    margin-right: 0px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.app-name {
    color: var(--main-color);
    text-align: left;
    margin: 0.5rem;
    margin-bottom: 0;
}

.app-name-in-drawer {
    color: var(--main-color);
    text-align: left;
    margin: 0 0.5rem 0rem 0.5rem;
}

.drawer-list {
    padding: 0 !important;
}

.app_name_div {
    display: flex;
}

.icon {
    font-size: 2rem;
    color: var(--main-color);
}

.purple {
    color: var(--main-color);
}

.options {
    color: var(--logo_blue);
}

.navbar_link {
    margin: auto;
    padding: 1rem;
    text-decoration: underline;
}

.navbar_link h4 {
    font-weight: normal;
}

.navbar_link_active {
    margin: auto;
    padding: 1rem;
    text-decoration: underline;
}

.beta_label {
    font-size: 14px;
    border: 1px solid var(--beta-color);
    background-color: var(--beta-color);
    border-radius: 8px;
    padding: .3rem;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

.app_pitch {
    font-size: 16px;
    border-radius: 8px;
    padding: 0.2rem;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 0.5rem;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 700px) {

    .mobile-only {
        display: flex;
    }

    .navbar-parent {
        width: 100%;
    }

    .navbar {
        margin: 0.5rem auto auto auto;
        width: 100%;
    }

    h1 {
        margin: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .app-logo {
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

    .navbar_link {
        display: none;
    }

    .navbar_link_active {
        display: none;
    }
}
